.env
Core/__pycache__/
# Employee/__pycache__/
Employee/migrations/
Client/migrations/
# Client/__pycache__/
Vendors/migrations/
# Vendors/__pycache__/
Auth_user/migrations/
# Auth_user/__pycache__/*


**/__pycache__/